body{
    background-color: black;
 }
 .caixa1{
    background-color: rgb(78, 16, 6);
    width: 600px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 120px;
    border: solid 4px rgb(238, 233, 179);
 }
 .caixa2{
     background-color: rgb(128, 10, 10);
     width: 350px;
     height: 270px;
     display: flex;
     justify-content: center;
    align-items: center;
    flex-direction: column;
    border: solid 5px rgb(238, 233, 179);
    border-radius: 10px;
 }
 input{
     height: 25px;
     width: 200px;
     background-color: rgb(255, 255, 255);
     border-radius: 10px;
     color: black;
 }
 .inputt{
     height: 25px;
     width: 200px;
     background-color: rgb(255, 255, 255);
     color: black;
 }
 .botao{
     background-color: rgb(0, 0, 0);
     height: 50px;
     color: white;
 }
 
 img{
     position: absolute;
     margin-bottom: 400px;
     height: 150px;
 }
 p2{
  
     color: white;
     width: 8px;
  
 }
 p3{
     color:white;
 }
 input.check{
      width: 15px;
 }