*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: black;
}

h2{
    color: white;
}

h1{
    color: black;
}

p{
    color: white;
}

.container{
    width: 80%;
    margin: 0 auto;
    color: white;
}

header{
    background-color: #6ad314;
    padding: 1rem 0;
    text-align: center;
}

header nav ul {
    list-style: none;
}

header nav ul li{
    display: inline;
    margin: 0 15px;
}

header nav ul li a{
    color: white;
    text-decoration: none;
}

#hero{
    background:url() no-repeat center center/cover;
    color: white;
    padding: 100px 0;
    text-align: center;
}

#sobre, #tecnologias, #contato{
    padding: 50px 0;
    text-align: center;
}

.tech-grid{
    display:flex;
    justify-content: space-around;
}

.tech img{
    width: 300px;
    height: 200px;
    border-top-right-radius: 5px;

    border-color: #6ad314;
}

form{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
}

form label{
    margin-top:10px;
}

form input, form textarea{
    padding: 10px;
    margin-top: 5px;
}

button{
    margin-top: 10px;
    padding: 10px;
    background-color: #333;
    color:white;
    border: none;
    cursor: pointer;
}

button:hover{
  background-color: #6ad314;
}

footer{
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem 0;
    margin-top: 30px;
}